<a href="https://colab.research.google.com/github/KaisenWu/MachineLearning_MiniProject_SVCClassfication_Python/blob/main/MachineLearning_MiniProject_SVCClassfication_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Classification with Feature Selection and Cross Validation</center>

## Project Overview
This project uses the employee data to classify if a employee is gonna attrtion.
The main method which were used in this peoject includes:


1.   Dummy value processing.
2.   Features selection with SelectKBest.
3.   Cross validation with GridSearchCV.
4.   SVC classification.

## About The Dataset
Tha dataset concludes 30 features of employee.

The target feature is "Attrition" which means if the employee is likely to quit.

## Data Preperation

### Import needed libraries and load the dataframe.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Lab3/Employee-Attrition.csv')

### Get the information of the dataframe.

In [ ]:
df.head().transpose()

,0,1,2,3,4
Age,41,49,37,33,27
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development
DistanceFromHome,1,8,2,3,2
Education,2,1,2,4,1
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical
EnvironmentSatisfaction,2,3,4,4,1
Gender,Female,Male,Male,Female,Male
HourlyRate,94,61,92,56,40
JobInvolvement,3,2,2,3,3
JobLevel,2,2,1,1,1
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician
JobSatisfaction,4,2,3,3,2
MaritalStatus,Single,Married,Single,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468
NumCompaniesWorked,8,1,6,1,9
Over18,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No
PercentSalaryHike,11,23,15,11,12
PerformanceRating,3,4,3,3,3
RelationshipSatisfaction,1,4,2,3,4
StockOptionLevel,0,1,0,0,1
TotalWorkingYears,8,10,7,8,6
TrainingTimesLastYear,0,3,3,3,3
WorkLifeBalance,1,3,3,3,3
YearsAtCompany,6,10,0,8,2
YearsInCurrentRole,4,7,0,7,2
YearsSinceLastPromotion,0,1,0,3,2
YearsWithCurrManager,5,7,0,0,2
Attrition,Yes,No,Yes,No,No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   BusinessTravel            1470 non-null   object
 2   DailyRate                 1470 non-null   int64
 3   Department                1470 non-null   object
 4   DistanceFromHome          1470 non-null   int64
 5   Education                 1470 non-null   int64
 6   EducationField            1470 non-null   object
 7   EnvironmentSatisfaction   1470 non-null   int64
 8   Gender                    1470 non-null   object
 9   HourlyRate                1470 non-null   int64
 10  JobInvolvement            1470 non-null   int64
 11  JobLevel                  1470 non-null   int64
 12  JobRole                   1470 non-null   object
 13  JobSatisfaction           1470 non-null   int64
 14  MaritalStatus             1470 non-null   object
 15  MonthlyIncome             1470 non-null   int64
 16  NumCompaniesWorked        1470 non-null   int64
 17  Over18                    1470 non-null   object
 18  OverTime                  1470 non-null   object
 19  PercentSalaryHike         1470 non-null   int64
 20  PerformanceRating         1470 non-null   int64
 21  RelationshipSatisfaction  1470 non-null   int64
 22  StockOptionLevel          1470 non-null   int64
 23  TotalWorkingYears         1470 non-null   int64
 24  TrainingTimesLastYear     1470 non-null   int64
 25  WorkLifeBalance           1470 non-null   int64
 26  YearsAtCompany            1470 non-null   int64
 27  YearsInCurrentRole        1470 non-null   int64
 28  YearsSinceLastPromotion   1470 non-null   int64
 29  YearsWithCurrManager      1470 non-null   int64
 30  Attrition                 1470 non-null   object
dtypes: int64(22), object(9)
memory usage: 356.1+ KB

### Explore the categorical features.

In [ ]:
df['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [ ]:
df['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [ ]:
df['EducationField'].value_counts()

Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

In [ ]:
df['JobRole'].value_counts()

Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: JobRole, dtype: int64

### Transfer the categorical features to dummies.

In [ ]:
bt_df = pd.get_dummies(df['BusinessTravel'], drop_first=True, prefix='BusinessTravel')
df = pd.concat([df,bt_df],axis=1)
df.drop('BusinessTravel', axis=1, inplace=True)

In [ ]:
dp_df = pd.get_dummies(df['Department'], drop_first=True, prefix='Department')
df = pd.concat([df,dp_df],axis=1)
df.drop('Department', axis=1, inplace=True)

In [ ]:
ef_df = pd.get_dummies(df['EducationField'], drop_first=True, prefix='EducationField')
df = pd.concat([df,ef_df],axis=1)
df.drop('EducationField', axis=1, inplace=True)

In [ ]:
gd_df = pd.get_dummies(df['Gender'], drop_first=True, prefix='Gender')
df = pd.concat([df,gd_df],axis=1)
df.drop('Gender', axis=1, inplace=True)

In [ ]:
jr_df = pd.get_dummies(df['JobRole'], drop_first=True, prefix='JobRole')
df = pd.concat([df,jr_df],axis=1)
df.drop('JobRole', axis=1, inplace=True)

In [ ]:
ms_df = pd.get_dummies(df['MaritalStatus'], drop_first=True, prefix='MaritalStatus')
df = pd.concat([df,ms_df],axis=1)
df.drop('MaritalStatus', axis=1, inplace=True)

In [ ]:
o18_df = pd.get_dummies(df['Over18'], drop_first=True, prefix='Over18')
df = pd.concat([df,o18_df],axis=1)
df.drop('Over18', axis=1, inplace=True)

In [ ]:
ot_df = pd.get_dummies(df['OverTime'], drop_first=True, prefix='OverTime')
df = pd.concat([df,ot_df],axis=1)
df.drop('OverTime', axis=1, inplace=True)

In [ ]:
at_df = pd.get_dummies(df['Attrition'], drop_first=True, prefix='Attrition')
df = pd.concat([df,at_df],axis=1)
df.drop('Attrition', axis=1, inplace=True)

In [ ]:
df.head(1).transpose()

                                      0
Age                                  41
DailyRate                          1102
DistanceFromHome                      1
Education                             2
EnvironmentSatisfaction               2
HourlyRate                           94
JobInvolvement                        3
JobLevel                              2
JobSatisfaction                       4
MonthlyIncome                      5993
NumCompaniesWorked                    8
PercentSalaryHike                    11
PerformanceRating                     3
RelationshipSatisfaction              1
StockOptionLevel                      0
TotalWorkingYears                     8
TrainingTimesLastYear                 0
WorkLifeBalance                       1
YearsAtCompany                        6
YearsInCurrentRole                    4
YearsSinceLastPromotion               0
YearsWithCurrManager                  5
BusinessTravel_Travel_Frequently      0
BusinessTravel_Travel_Rarely          1
Department_Research & Development     0
Department_Sales                      1
EducationField_Life Sciences          1
EducationField_Marketing              0
EducationField_Medical                0
EducationField_Other                  0
EducationField_Technical Degree       0
Gender_Male                           0
JobRole_Human Resources               0
JobRole_Laboratory Technician         0
JobRole_Manager                       0
JobRole_Manufacturing Director        0
JobRole_Research Director             0
JobRole_Research Scientist            0
JobRole_Sales Executive               1
JobRole_Sales Representative          0
MaritalStatus_Married                 0
MaritalStatus_Single                  1
OverTime_Yes                          1
Attrition_Yes                         1

### Split the target feature from other features.

In [ ]:
X = df.drop('Attrition_Yes', axis=1)
y = df['Attrition_Yes']

### Use SelectKBest to select the most important 10 features.

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif

In [ ]:
selector = SelectKBest(score_func=f_classif, k=10)

In [ ]:
selector.fit(X, y)
selectedX = X.iloc[:,selector.get_support()]
selectedX.head()

,Age,JobLevel,MonthlyIncome,StockOptionLevel,TotalWorkingYears,YearsInCurrentRole,YearsWithCurrManager,JobRole_Sales Representative,MaritalStatus_Single,OverTime_Yes
0,41,2,5993,0,8,4,5,0,1,1
1,49,2,5130,1,10,7,7,0,0,0
2,37,1,2090,0,7,0,0,0,1,1
3,33,1,2909,0,8,7,0,0,0,1
4,27,1,3468,1,6,2,2,0,0,0

### Split the data to train and test set.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(selectedX, y, test_size=0.25, random_state=42)

### Use MinMax to scale the data.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

In [ ]:
X_train = scaler.fit_transform(X_train)

In [ ]:
X_test = scaler.transform(X_test)

### Build the cross validation instance.

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

In [ ]:
para_grid = {
    'kernel':['linear', 'rbf', 'poly'],
    'gamma': [5,1,0.01,0.001],
    'C': [1, 5, 10, 50],
    'degree': [2, 3, 4]
}

In [ ]:
grid = GridSearchCV(SVC(), para_grid)

### Traing the cross validation model.

In [ ]:
grid.fit(X_train, y_train)

GridSearchCV(estimator=SVC(),
             param_grid={'C': [1, 5, 10, 50], 'degree': [2, 3, 4],
                         'gamma': [5, 1, 0.01, 0.001],
                         'kernel': ['linear', 'rbf', 'poly']})

### Get the best parameter combination

In [ ]:
grid.best_estimator_

SVC(C=1, degree=2, gamma=1)

### Use the model to predict the test set.

In [ ]:
predictions = grid.predict(X_test)

### Model evaluation.

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
print(confusion_matrix(y_test,predictions))
print(classification_report(y_test,predictions))

[[316   4]
 [ 44   4]]
              precision    recall  f1-score   support

           0       0.88      0.99      0.93       320
           1       0.50      0.08      0.14        48

    accuracy                           0.87       368
   macro avg       0.69      0.54      0.54       368
weighted avg       0.83      0.87      0.83       368